:root {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  --primary-text-color: #24292e;
  --secondary-text-color: #fff;
  --container-bg-color: #eff3f6;
  --main-margin-left: 16rem;

  --navigation-bg-color: rgb(35, 35, 46);
  --navigation-small-screens-width: 16rem;
  --navigation-small-screens-height: 100vh;

  --settings-bg-color: rgb(35, 35, 46);
  --settings-roundness: 8px;
  --settings-header-bg-color: #ecb731;
}
